body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--beige);
  color: var(--black);

  /* Variables */
  --beige: #fff3db;
  --red: #ca2b2b;
  --grey: #5c5b62;
  --black: #36454F;
  --green: #29df00;
}

#root {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin-inline: auto;
  padding-inline: clamp(1rem, 3vw, 2rem);
}

a {
  text-decoration: none;
  color: var(--red);
}
