.home {
  text-align: center;
  padding-block: 2rem 1rem;
}

.home h1 {
  color: var(--red);
}

.home img {
  max-width: 28rem;
  margin: auto;
}

.home p {
  font-size: 1.2rem;
  font-weight: 500;
}

.home a {
  display: inline-block;
  border: none;
  background-color: var(--red);
  color: white;
  padding: 1rem 3rem;
  border-radius: 0.75rem;
  margin-top: 0.5rem;
  font-weight: 700;
  cursor: pointer;
  will-change: filter;
  transition: filter 0.1s;
}

.home a:hover {
  filter: brightness(0.8);
}

.home h2 {
  color: var(--red);
  margin-block: 0.5rem;
}

.scores {
  color: var(--black);
  width: 15rem;
  margin: auto;
}

.scores p {
  display: flex;
  justify-content: space-between;
}
