.play h1,
.play p {
  text-align: center;
}

.play h1 {
  color: var(--red);
  margin-top: 1rem;
}

.play p {
  font-size: 1.2rem;
  font-weight: 500;
}

.characters {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 4rem;
  list-style-type: none;
}

.characters li img {
  max-height: 24rem;
}

.found {
  filter: grayscale(1);
}

.map {
  position: relative;
  margin-block: 1rem;
}

.map img {
  border-radius: 1rem;
  border: 3px solid var(--black);
}

.backdrop {
  position: fixed;
  inset: 0;
  display: flex;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.2);
}

.backdrop form {
  margin: auto;
  background-color: var(--beige);
  border: 3px solid var(--red);
  padding: 1rem;
  border-radius: 1rem;
}

.backdrop h2 {
  color: var(--red);
  margin-bottom: 0.5rem;
}

.backdrop input {
  border: 2px solid var(--black);
  border-radius: 0.25rem;
  margin-right: 1rem;
  padding: 0.25rem 0.25rem;
  background-color: transparent;
}

.backdrop button {
  border: 2px solid var(--red);
  border-radius: 0.25rem;
  margin-right: 1rem;
  padding: 0.25rem 0.25rem;
  background-color: transparent;
  font-weight: 500;
  cursor: pointer;
  color: var(--red);
  transition: background-color 0.1s, color 0.1s;
}

.backdrop button:hover {
  color: white;
  background-color: var(--red);
}

.marker {
  font-size: 3rem;
  line-height: 1;
  transform: translate(-50%, -50%);
  color: var(--green);
  text-shadow: 0 0 10px var(--green);
  font-weight: 900;
}