.dropdown {
  background: var(--beige);
  border: 1px solid var(--black);
  border-radius: 6px;
  padding: 0.5rem;
  list-style: none;
}

.dropdown li {
  padding: 0.3rem 0.6rem;
  cursor: pointer;
  border-radius: 6px;
}

.dropdown li:hover {
  background: var(--black);
  color: var(--beige);
}